<%# -*- coding: utf-8 -*- %>
<% require 'rubygems' %>
<% require 'dbi' %>
<% dbh = DBI.connect('DBI:SQLite3:account.db') %>
<% sth = dbh.execute("select * from account where ID=\'#{target_id}\'") %>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>家計簿</title>
</head>
<body>
<h1>家計簿</h1>
<h2>データの修正</h2>
<p>このデータを修正します|
<a href="list.erb">家計簿データの表示</a>|
</p>
<hr>

<form method="post" action="edit">
<%# 拡張機能3 %>
<input type="hidden" name="ID" value="<%= target_id %>" />
<table>
<% sth.each do |row| %>
  <th>項目名</th><th>修正データ</th>
<% ['DATE', 'Name','Value', 'Income', 'Balance'].each do |name| %>
  <tr>
    <td><%= name %></td>
    <td><input name="<%=name %>" value="<%= row[name] %>"size="60" placeholder="未入力"/></td>
  </tr>
  
<% end %>
<% end %>
</table>
<input type="submit" value="修正を実行" />
</form>
<hr>
</body>
</html>