<%# -*- coding: utf-8 -*-%>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>家計簿</title>
</head>
<body>
<h1>家計簿</h1>
<h2>LOG INできませんでした</h2>

<a href="login.erb">LOGIN画面に戻る</a></p>
<hr>
</body>
</html>