<%# -*- coding: utf-8 -*-%>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>家計簿</title>
</head>
<body>
<h1>家計簿</h1>
<h2>指定したIDはすでに使われています</h2>
<p>登録データを変更してから実行してください|
<a href="entry.erb">家計簿の登録</a>|
<a href="list.erb">家計簿の表示</a>|
</p>
<hr>
</body>
</html>