<%# -*- coding: utf-8 -*-%>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>家計簿</title>
</head>
<body>
<h1>家計簿</h1>
<h2>LOGIN登録</h2>
<p>下記のLOGINデータを登録しました|

<a href="index.html">LOG IN画面に戻る</a></p>
<hr>
<table>
  <th>項目名</th><th>登録データ</th>
<% ['ID', 'PASSWORD'].each do |name| %>
  <tr>
    <td><%= name %></td>
    <td><%= req.query[name] %></td>
  </tr>
<% end %>
</table>
<hr>
</body>
</html>